body {
    background-color: rgb(240, 240, 240);
}

h1 {
    background: linear-gradient(0.25turn, rgb(0, 123, 255), rgb(61, 251, 226));
    color: azure;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h2 {
    border: 1px solid blue;
}

h3{
    background: linear-gradient(0.25turn, rgb(255, 255, 255), rgb(71, 150, 239));
}

div#bo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div#bo > div {
    padding: auto;
    background-color: rgb(150, 228, 250);
}